<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
        <div class="card mb-4">
          <div class="card-header">
            <div class="row  d-flex align-items-center">
              <div class="col-1">
                <% if(!locals.error){ %>
                <a class="btn btn-info" href="index/budget?bid=<%= budget %>">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
                <% } %>
              </div>
              <div class="col">
                <% if(!locals.error){ %>
                  <h5> A.P.U de la Actividad <%= activity.CUSTOM_NAME %>
                  </h5>
                  <h6>
                    <%= activity.activity_group.PREFIX %> - <%= activity.activity_group.NAME %>
                  </h6>
                  <input id="id_apu" type="text" value="<%= apu.ID %>" hidden>
                  <input id="id_budget" type="text" value="<%= budget %>" hidden>
                  <input id="id_activity" type="text" value="<%= apu.ID_QUO_ACT %>" hidden>
                  <% } %>
              </div>
              <div id="btnSection" class="col-3">
                <div class="card ml-2 mb-2 mt-2">
                  <button class="btn btn-success btn-block" data-toggle="modal" data-target="#addSectionModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Agregar Sección
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% if(locals.error){ %>
            <div id="message">
              <%- include ("../partials/messages"); %>
            </div>
            <% } else { %>
              <% if(apu.apu_c.length> 0) { -%>
                <% var apu_c=apu.apu_c -%>
                  <% var contents=[] -%>
                    <% for(var i=0; i < apu_c.length; i++) { -%>
                      <% if(apu_c[i].ID_CONTENT != 5) { -%>
                        <% contents.push(apu_c[i].ID_CONTENT) -%>
                      <% } %>
                        <% if(apu_c[i].ID_CONTENT==1) { -%>
                          <div id="mat" class="card ml-2 mb-2 mt-2 mr-2">
                            <div class="table-responsive">
                              <table class="table table-bordered table-hover align-middle" width="100%" height="100%"
                                cellspacing="0">
                                <thead class="table-secondary">
                                  <tr>
                                    <th class="text-center" colspan="6">
                                      <div class="d-flex justify-content-between">
                                        Materiales
                                        <button class="btn-sm btn-danger" onclick="delContent('<%= apu_c[i].ID %>')">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                    </th>
                                  </tr>
                                  <tr>
                                    <th class="align-middle">Nombre</th>
                                    <th class="align-middle" width="8%">Cantidad</th>
                                    <th class="align-middle" width="7%">Unidad</th>
                                    <th class="align-middle" width="10%">Precio</th>
                                    <th class="align-middle" width="15%">Total</th>
                                    <th class="align-middle" width="15%">
                                      <button class="btn btn-success btn-block" data-toggle="modal"
                                        data-target="#addItemModal" onclick="resetModal('1', '<%= apu_c[i].ID %>')">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Agregar item
                                      </button>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(apu_c[i].apu_i.length> 0) { -%>
                                    <% var apu_i=apu_c[i].apu_i -%>
                                      <% for(let j=0; j < apu_i.length; j++) { -%>
                                        <tr>
                                          <td class="align-middle">
                                            <%= apu_i[j].item_list.NAME %>
                                          </td>
                                          <td class="align-middle">
                                            <%= apu_i[j].QUANTITY %>
                                          </td>
                                          <td class="align-middle">
                                            <%= apu_i[j].item_list.MEASSURE_UNIT %>
                                          </td>
                                          <td class="align-middle curr">
                                            <%= apu_i[j].item_list.COST %>
                                          </td>
                                          <td class="align-middle curr">
                                            <%= apu_i[j].TOTAL %>
                                          </td>
                                          <td class="align-middle">
                                            <div class="row mw-100 m-0">
                                              <div class="col">
                                                <button class="w-100 btn btn-primary"
                                                  onclick="initItem('1','<%= apu_i[j].ID %>')">
                                                  <i class="fa fa-pen" aria-hidden="true"></i>
                                                </button>
                                              </div>
                                              <div class="col">
                                                <button class="w-100 btn btn-danger"
                                                  onclick="delItem('<%= apu_i[j].ID %>', '<%= apu_c[i].ID %>')">
                                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      <% } -%>
                                  <% } else { -%>
                                    <tr>
                                      <td colspan="7">
                                        <h5 class="text-center Normal weight text">No se han añadido items</h5>
                                      </td>
                                    </tr>
                                  <% } -%>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <% } else if(apu_c[i].ID_CONTENT==2) { -%>
                          <div id="mob" class="card ml-2 mb-2 mt-2 mr-2">
                            <div class="table-responsive">
                              <table class="table table-bordered align-middle" width="100%" height="100%"
                                cellspacing="0">
                                <thead class="table-secondary">
                                  <tr>
                                    <th colspan="9">
                                      <div class="d-flex justify-content-between">
                                        Mano de Obra
                                        <button class="btn-sm btn-danger" onclick="delContent('<%= apu_c[i].ID %>')">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                    </th>
                                  </tr>
                                  <tr>
                                    <th class="align-middle" colspan="2">Nombre</th>
                                    <th class="align-middle" width="5%">Rend.</th>
                                    <th class="align-middle" width="7%">Unidad</th>
                                    <th class="align-middle text-center" width="10%">Salario</th>
                                    <th class="align-middle text-center" width="15%">Total</th>
                                    <th class="align-middle" width="15%">
                                      <button class="btn btn-success btn-block" data-toggle="modal"
                                        data-target="#addItemModal" onclick="resetModal('2', '<%= apu_c[i].ID %>')">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Agregar item
                                      </button>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(apu_c[i].apu_i.length> 0) { -%>
                                    <% var apu_i=apu_c[i].apu_i -%>
                                      <% for(let j=0; j < apu_i.length; j++) { -%>

                                      <% var cuadrilla = apu_i[j].CUSTOM_DESCRIPTION.split(":"); -%>
                                          <tr>
                                            <td class="align-middle" rowspan="3">
                                              <%= apu_i[j].item_list.NAME %>
                                            </td>
                                            <td class="align-middle text-center">
                                              <%= cuadrilla[0] %>
                                            </td>
                                            <td class="align-middle text-center" rowspan="3">
                                              <%= apu_i[j].CUSTOM_PERFORMANCE %>
                                            </td>
                                            <td class="align-middle text-center" rowspan="3">
                                              <%= apu_i[j].item_list.MEASSURE_UNIT %>
                                            </td>
                                            <% if(apu_i[j].gang.OT != '') { -%>
                                              <td class="align-middle text-center curr">
                                                <%= apu_i[j].gang.OT.QUANTITY %>
                                              </td>
                                            <% } else { -%>
                                              <td class="align-middle curr">
                                                0
                                              </td>
                                            <% } -%>
                                            <td class="align-middle curr" rowspan="3">
                                              <%= apu_i[j].TOTAL %>
                                            </td>
                                            <td class="align-middle" rowspan="3">
                                              <div class="row mw-100 m-0">
                                                <div class="col">
                                                  <button class="w-100 btn btn-primary"
                                                    onclick="initGang('<%= apu_i[j].ID %>')">
                                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                                  </button>
                                                </div>
                                                <div class="col">
                                                  <button class="w-100 btn btn-danger"
                                                  onclick="delItem('<%= apu_i[j].ID %>', '<%= apu_c[i].ID %>')">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                  </button>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="align-middle text-center">
                                              <%= cuadrilla[1] %>
                                            </td>
                                            <% if(apu_i[j].gang.O != '') { -%>
                                              <td class="align-middle text-center curr">
                                                <%= apu_i[j].gang.O.QUANTITY %>
                                              </td>
                                            <% } else { -%>
                                              <td class="align-middle curr">
                                                0
                                              </td>
                                            <% } -%>
                                          </tr>
                                          <tr>
                                            <td class="align-middle text-center">
                                              <%= cuadrilla[2] %>
                                            </td>
                                            <% if(apu_i[j].gang.A != '') { -%>
                                              <td class="align-middle text-center curr">
                                                <%= apu_i[j].gang.A.QUANTITY %>
                                              </td>
                                            <% } else { -%>
                                              <td class="align-middle curr">
                                                0
                                              </td>
                                            <% } -%>
                                          </tr>
                                      <% } -%>
                                  <% } else { -%>
                                    <tr>
                                      <td colspan="9">
                                        <h5 class="text-center Normal weight text">No se han añadido items
                                        </h5>
                                      </td>
                                    </tr>
                                  <% } -%>
                                </tbody>
                                <thead class="table-secondary">
                                  <tr>
                                    <th class="align-middle" colspan="5">Nombre</th>
                                    <th class="align-middle">Rendimiento</th>
                                    <th class="align-middle">Total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="align-middle" colspan="5">Herramientas menores</td>
                                    <td class="align-middle">5%</td>
                                    <td class="align-middle curr"><%= apu.tools %></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <% } else if (apu_c[i].ID_CONTENT==3) { -%>
                          <div id="equ" class="card ml-2 mb-2 mt-2 mr-2">
                            <div class="table-responsive">
                              <table class="table table-bordered table-hover align-middle" width="100%"
                                height="100%" cellspacing="0">
                                <thead class="table-secondary">
                                  <tr>
                                    <th colspan="7">
                                      <div class="d-flex justify-content-between">
                                        Maquinaria
                                        <button class="btn-sm btn-danger"
                                          onclick="delContent('<%= apu_c[i].ID %>')">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                    </th>
                                  </tr>
                                  <tr>
                                    <th class="align-middle">Nombre</th>
                                    <th class="align-middle" width="7%">Rendimiento</th>
                                    <th class="align-middle" width="8%">Cantidad</th>
                                    <th class="align-middle" width="7%">Unidad</th>
                                    <th class="align-middle" width="10%">Precio</th>
                                    <th class="align-middle" width="15%">Total</th>
                                    <th class="align-middle" width="15%">
                                      <button class="btn btn-success btn-block" data-toggle="modal"
                                        data-target="#addItemModal" onclick="resetModal('3', '<%= apu_c[i].ID %>')">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Agregar item
                                      </button>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(apu_c[i].apu_i.length> 0) { -%>
                                    <% var apu_i=apu_c[i].apu_i -%>
                                      <% for(let j=0; j < apu_i.length; j++) { -%>
                                          <tr>
                                            <td class="align-middle" rowspan="3">
                                              <%= apu_i[j].item_list.NAME %>
                                            </td>
                                            <td class="align-middle" rowspan="3">
                                              <%= apu_i[j].item_list.PERFORMANCE %>
                                            </td>
                                            <td class="align-middle" rowspan="3">
                                              <%= apu_i[j].QUANTITY %>
                                            </td>
                                            <td class="align-middle" rowspan="3">
                                              <%= apu_i[j].item_list.MEASSURE_UNIT %>
                                            </td>
                                            <td class="align-middle curr" rowspan="3">
                                              <%= apu_i[j].item_list.COST %>
                                            </td>
                                            <td class="align-middle curr" rowspan="3">
                                              <%= apu_i[j].TOTAL %>
                                            </td>
                                            <td class="align-middle" rowspan="3">
                                              <div class="row mw-100 m-0">
                                                <div class="col">
                                                  <button class="w-100 btn btn-primary"
                                                    onclick="initItem('3','<%= apu_i[j].ID %>')">
                                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                                  </button>
                                                </div>
                                                <div class="col">
                                                  <button class="w-100 btn btn-danger"
                                                  onclick="delItem('<%= apu_i[j].ID %>', '<%= apu_c[i].ID %>')">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                  </button>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                      <% } -%>
                                  <% } else { -%>
                                    <tr>
                                      <td colspan="7">
                                        <h5 class="text-center Normal weight text">No se han añadido items
                                        </h5>
                                      </td>
                                    </tr>
                                  <% } -%>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <% } else if (apu_c[i].ID_CONTENT == 4) { -%>
                          <div id="tra" class="card ml-2 mb-2 mt-2 mr-2">
                            <div class="table-responsive">
                              <table class="table table-bordered table-hover align-middle" width="100%"
                                height="100%" cellspacing="0">
                                <thead class="table-secondary">
                                  <tr>
                                    <th class="text-center" colspan="6">
                                      <div class="d-flex justify-content-between">
                                        Transporte
                                        <button class="btn-sm btn-danger"
                                          onclick="delContent('<%= apu_c[i].ID %>')">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                    </th>
                                  </tr>
                                  <tr>
                                    <th class="align-middle">Nombre</th>
                                    <th class="align-middle" width="8%">Cantidad</th>
                                    <th class="align-middle" width="7%">Unidad</th>
                                    <th class="align-middle" width="10%">Precio</th>
                                    <th class="align-middle" width="15%">Total</th>
                                    <th class="align-middle" width="15%">
                                      <button class="btn btn-success btn-block" data-toggle="modal"
                                        data-target="#addItemModal"
                                        onclick="resetModal('4', '<%= apu_c[i].ID %>')">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Agregar item
                                      </button>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(apu_c[i].apu_i.length> 0) { -%>
                                    <% var apu_i=apu_c[i].apu_i -%>
                                      <% for(let j=0; j < apu_i.length; j++) { -%>
                                        <tr>
                                          <td class="align-middle">
                                            <%= apu_i[j].item_list.NAME %>
                                          </td>
                                          <td class="align-middle">
                                            <%= apu_i[j].QUANTITY %>
                                          </td>
                                          <td class="align-middle">
                                            <%= apu_i[j].item_list.MEASSURE_UNIT %>
                                          </td>
                                          <td class="align-middle curr">
                                            <%= apu_i[j].item_list.COST %>
                                          </td>
                                          <td class="align-middle curr">
                                            <%= apu_i[j].TOTAL %>
                                          </td>
                                          <td class="align-middle">
                                            <div class="row mw-100 m-0">
                                              <div class="col">
                                                <button class="w-100 btn btn-primary"
                                                  onclick="initItem('4','<%= apu_i[j].ID %>')">
                                                  <i class="fa fa-pen" aria-hidden="true"></i>
                                                </button>
                                              </div>
                                              <div class="col">
                                                <button class="w-100 btn btn-danger"
                                                onclick="delItem('<%= apu_i[j].ID %>', '<%= apu_c[i].ID %>')">
                                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <% } -%>
                                  <% } else { -%>
                                    <tr>
                                      <td colspan="7">
                                        <h5 class="text-center Normal weight text">No se han añadido items
                                        </h5>
                                      </td>
                                    </tr>
                                  <% } -%>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <% } -%>
                    <% } -%>
                                    <input id="contents" type="text" value="<%= contents %>" hidden>
              <% } else { %>
                <table class="table">
                  <tr>
                    <td>
                      <h5 class="text-center Normal weight text">No se han añadido secciones</h5>
                    </td>
                  </tr>
                </table>
              <% } -%>
            <% } %>
        </div>
      </div>
    </div>

    <!-- Modal add section-->
    <div class="modal fade" id="addSectionModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Agregar Sección</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times"
                aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="small mb-1">Sección</label>
              <div class="form-group">
                <select id="select_apu_content" class="selectBuscar">
                </select>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary btn-block" onclick="regContent()">Aceptar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>

    <!-- Modal add item-->
    <div class="modal fade" id="addItemModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Agregar Item</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="fas fa-times" aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="apu_item_id">Item del grupo de actividades</label>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary w-100" data-toggle="modal"
                    data-target="#selectItemModal">
                    Seleccionar item
                  </button>
                </div>
                <div class="col d-flex align-items-center">
                  <input type="text" id="apu_item_id" hidden>
                  <input type="text" id="apu_item_content" hidden>
                  <input class="form-control" type="text" id="apu_item_name" disabled>
                </div>
              </div>
            </div>

            <div class="form-group" id="add_item_gang" hidden>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="align-middle text-center" colspan="2" width="20%">Division</th>
                    <th scope="col" class="align-middle text-center" width="20%">Mult.</th>
                    <th scope="col" class="align-middle text-center">Valor hora</th>
                    <th scope="col" class="align-middle text-center" width="30%">Valor total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="align-middle text-center" width="5%">
                      OT
                    </th>
                    <td>
                      <input class="form-control" type="number" id="apu_item_ot">
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="number" id="apu_ot_mult_salary" disabled>
                        <div class="input-group-append">
                          <button class="btn-sm btn-secondary" type="button" data-toggle="modal"
                          data-target="#selectSalaryModal" onclick="setSalaryType('1')">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                        <input class="form-control" type="text" id="apu_ot_id_salary" hidden>
                      </div>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="apu_ot_salary" disabled>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="apu_ot_quantity" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-middle text-center" width="5%">
                      O
                    </th>
                    <td>
                      <input class="form-control" type="number" id="apu_item_o">
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="number" id="apu_o_mult_salary" disabled>
                        <div class="input-group-append">
                          <button class="btn-sm btn-secondary" type="button" data-toggle="modal"
                          data-target="#selectSalaryModal" onclick="setSalaryType('2')">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <input class="form-control" type="text" id="apu_o_id_salary" hidden>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="apu_o_salary" disabled>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="apu_o_quantity" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-middle text-center" width="5%">
                      A
                    </th>
                    <td>
                      <input class="form-control" type="number" id="apu_item_a">
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="number" id="apu_a_mult_salary" disabled>
                        <div class="input-group-append">
                          <button class="btn-sm btn-secondary" type="button" data-toggle="modal"
                          data-target="#selectSalaryModal" onclick="setSalaryType('3')"> 
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <input class="form-control" type="text" id="apu_a_id_salary" hidden>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="apu_a_salary" disabled>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="apu_a_quantity" readonly> 
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="add_item_gang_alert" class="alert alert-warning" role="alert" hidden>
                El Rendimiento no puede ser 0.
              </div>
            </div>

            <div class="form-group">
              <label for="apu_item_cost">Costo del item</label>
              <input class="form-control" type="text" id="apu_item_cost" disabled>
            </div>

            <div class="form-group" id="add_item_perf" hidden>
              <label class="small">Rendimiento por hora</label>
              <input class="form-control" type="number" id="apu_item_perf" placeholder="Rendimiento" disabled>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-3" id="div-quantity">
                  <label for="apu_item_amon">Cantidad</label>
                  <input type="number" id="apu_item_amon" class="form-control">
                </div>
                <div class="col">
                  <label for="apu_item_total">Total</label>
                  <input type="text" id="apu_item_total" class="form-control" disabled>
                </div>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" id="btn_item" class="btn btn-primary btn-block" onclick="regItem()">Aceptar</button>
              <button type="button" id="btn_gang" class="btn btn-primary btn-block" onclick="regGang()" hidden>Aceptar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>

    <!-- Modal upd item-->
    <div class="modal fade" id="updItemModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Editar Item</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="fas fa-times" aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="apu_item_id">Item del grupo de actividades</label>
              <div class="row">
                <div class="col d-flex align-items-center">
                  <input type="text" id="upd_apu_item_id" hidden>
                  <input type="text" id="upd_apu_item_content" hidden>
                  <input class="form-control" type="text" id="upd_apu_item_name" disabled>
                </div>
              </div>
            </div>

            <div class="form-group" id="upd_item_gang" hidden>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="align-middle text-center" colspan="2" width="20%">Division</th>
                    <th scope="col" class="align-middle text-center" width="20%">Mult.</th>
                    <th scope="col" class="align-middle text-center">Valor hora</th>
                    <th scope="col" class="align-middle text-center" width="30%">Valor total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="align-middle text-center" width="5%">
                      OT
                    </th>
                    <td>
                      <input class="form-control" type="number" id="upd_apu_item_ot">
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="number" id="upd_apu_ot_mult_salary" disabled>
                        <div class="input-group-append">
                          <button class="btn-sm btn-secondary" type="button" data-toggle="modal"
                          data-target="#selectSalaryModal" onclick="setSalaryType('1')">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                        <input class="form-control" type="text" id="upd_apu_ot_id_salary" hidden>
                      </div>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="upd_apu_ot_salary" disabled>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="upd_apu_ot_quantity" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-middle text-center" width="5%">
                      O
                    </th>
                    <td>
                      <input class="form-control" type="number" id="upd_apu_item_o">
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="number" id="upd_apu_o_mult_salary" disabled>
                        <div class="input-group-append">
                          <button class="btn-sm btn-secondary" type="button" data-toggle="modal"
                          data-target="#selectSalaryModal" onclick="setSalaryType('2')">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <input class="form-control" type="text" id="upd_apu_o_id_salary" hidden>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="upd_apu_o_salary" disabled>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="upd_apu_o_quantity" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-middle text-center" width="5%">
                      A
                    </th>
                    <td>
                      <input class="form-control" type="number" id="upd_apu_item_a">
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="number" id="upd_apu_a_mult_salary" disabled>
                        <div class="input-group-append">
                          <button class="btn-sm btn-secondary" type="button" data-toggle="modal"
                          data-target="#selectSalaryModal" onclick="setSalaryType('3')"> 
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <input class="form-control" type="text" id="upd_apu_a_id_salary" hidden>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="upd_apu_a_salary" disabled>
                    </td>
                    <td>
                      <input class="form-control" type="text" id="upd_apu_a_quantity" readonly>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="upd_item_gang_alert" class="alert alert-warning" role="alert" hidden>
                El Rendimiento no puede ser 0
              </div>
            </div>

            <div class="form-group">
              <label for="apu_item_cost">Costo del item</label>
              <input class="form-control" type="text" id="upd_apu_item_cost" disabled>
            </div>

            <div class="form-group" id="upd_item_perf" hidden>
              <label class="small">Rendimiento por hora</label>
              <input class="form-control" type="number" id="upd_apu_item_perf" placeholder="Rendimiento" disabled>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-3" id="upd-div-quantity">
                  <label for="apu_item_amon">Cantidad</label>
                  <input type="number" id="upd_apu_item_amon" class="form-control">
                </div>
                <div class="col">
                  <label for="apu_item_total">Total</label>
                  <input type="text" id="upd_apu_item_total" class="form-control" disabled>
                </div>
              </div>
            </div>

            <div class="modal-footer ">
              <button type="button" id="upd_btn_item" class="btn btn-primary btn-block" onclick="updItem()">Aceptar</button>
              <button type="button" id="upd_btn_gang" class="btn btn-primary btn-block" onclick="updGang()" hidden>Aceptar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>

    <!-- Modal pick item -->
    <div class="modal fade bd-example-modal-lg" style="overflow: scroll;" id="selectItemModal" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Selecciona un Item</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times"
                aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <% if(locals.items) { -%>
              <div id="item_material">
                <table class="table table-bordered table-hover" width="100%" height="100%" cellspacing="0">
                  <thead class="table-secondary">
                    <tr>
                      <th class="align-middle text-center" colspan="8">Materiales y equipo</th>
                    </tr>
                    <tr>
                      <th class="align-middle" width="20%">Origen</th>
                      <th class="align-middle">Nombre</th>
                      <th class="align-middle" width="10%">Unidad</th>
                      <th class="align-middle" width="15%">Costo</th>
                      <th class="align-middle" width="5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(items.mt.length> 0) { -%>
                      <%for(var i=0; i < items.mt.length; i++) { -%>
                        <tr id="<%= items.mt[i].ID %>" act_grp="<%= items.mt[i].ID_ACT_GRP %>">
                          <%if(items.mt[i].user.ID !=user.ID) { -%>
                            <td class="align-middle"> Base de datos</td>
                            <% } else { %>
                              <td class="align-middle"> Mis materiales</td>
                              <% } %>
                                <td class="align-middle">
                                  <%= items.mt[i].NAME %>
                                </td>
                                <td class="align-middle">
                                  <%= items.mt[i].MEASSURE_UNIT %>
                                </td>
                                <td class="align-middle curr">
                                  <%= items.mt[i].COST %>
                                </td>
                                <td>
                                  <button class="w-100 btn btn-primary"
                                    onclick="selectItem('<%= items.mt[i].ID %>')">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </button>
                                </td>
                        </tr>
                        <%}%>
                          <%} else{%>
                            <td colspan="8">
                              <h4 class="text-center Normal weight text">No hay resultados</h4>
                            </td>
                            <%}%>
                  </tbody>
                </table>
              </div>

              <div id="item_gang" hidden>
                <table class="table table-bordered table-hover align-middle" width="100%" height="100%" cellspacing="0">
                  <thead class="table-secondary">
                    <tr>
                      <th class="align-middle text-center" colspan="8">Cuadrillas</th>
                    </tr>
                    <tr>
                      <th class="align-middle" width="12%">Origen</th>
                      <th class="align-middle">Nombre</th>
                      <th class="align-middle" width="7%">Cuadrilla</th>
                      <th class="align-middle" width="7%">Rendimiento</th>
                      <th class="align-middle" width="6%">Unidad</th>
                      <th class="align-middle" width="7%">Costo</th>
                      <th class="align-middle" width="15%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(items.ga.length> 0) { -%>
                      <%for(var i=0; i < items.ga.length; i++) { -%>
                        <tr id="<%= items.ga[i].ID %>" act_grp="<%= items.ga[i].ID_ACT_GRP %>">
                          <%if(items.ga[i].user.ID !=user.ID) { -%>
                            <td class="align-middle"> Base de datos</td>
                            <% } else { %>
                              <td class="align-middle"> Mis cuadrillas</td>
                              <% } %>
                                <td class="align-middle">
                                  <%= items.ga[i].NAME %>
                                </td>
                                <td class="align-middle">
                                  <%= items.ga[i].DESCRIPTION %>
                                </td>
                                <td class="align-middle">
                                  <%= items.ga[i].PERFORMANCE %>
                                </td>
                                <td class="align-middle">
                                  <%= items.ga[i].MEASSURE_UNIT %>
                                </td>
                                <td class="align-middle">
                                  <%= items.ga[i].COST %>
                                </td>
                                <td>
                                  <button class="w-100 btn btn-primary"
                                    onclick="selectItem('<%= items.ga[i].ID %>')">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </button>
                                </td>
                        </tr>
                        <%}%>
                          <%} else{%>
                            <td colspan="8">
                              <h4 class="text-center Normal weight text">No hay resultados</h4>
                            </td>
                            <%}%>
                  </tbody>
                </table>
              </div>

              <div id="item_machinery" hidden>
                <table class="table table-bordered table-hover align-middle" width="100%" height="100%" cellspacing="0">
                  <thead class="table-secondary">
                    <tr>
                      <th class="align-middle text-center" colspan="8">Maquinaria</th>
                    </tr>
                    <tr>
                      <th class="align-middle" width="20%">Origen</th>
                      <th class="align-middle">Nombre</th>
                      <th class="align-middle" width="10%">Rendimiento</th>
                      <th class="align-middle" width="10%">Unidad</th>
                      <th class="align-middle" width="15%">Costo</th>
                      <th class="align-middle" width="5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(items.mc.length> 0) { -%>
                      <%for(var i=0; i < items.mc.length; i++) { -%>
                        <tr id="<%= items.mc[i].ID %>" act_grp="<%= items.mc[i].ID_ACT_GRP %>">
                          <%if(items.mc[i].user.ID !=user.ID) { -%>
                            <td class="align-middle"> Base de datos</td>
                            <% } else { %>
                              <td class="align-middle"> Mis maquinarias</td>
                              <% } %>
                                <td class="align-middle">
                                  <%= items.mc[i].NAME %>
                                </td>
                                <td class="align-middle">
                                  <%= items.mc[i].PERFORMANCE %>
                                </td>
                                <td class="align-middle">
                                  <%= items.mc[i].MEASSURE_UNIT %>
                                </td>
                                <td class="align-middle curr">
                                  <%= items.mc[i].COST %>
                                </td>
                                <td>
                                  <button class="w-100 btn btn-primary"
                                    onclick="selectItem('<%= items.mc[i].ID %>')">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </button>
                                </td>
                        </tr>
                        <%}%>
                          <%} else{%>
                            <td colspan="8">
                              <h4 class="text-center Normal weight text">No hay resultados</h4>
                            </td>
                            <%}%>
                  </tbody>
                </table>
              </div>

              <div id="item_transport" hidden>
                <table class="table table-bordered table-hover align-middle" width="100%" height="100%" cellspacing="0">
                  <thead class="table-secondary">
                    <tr>
                      <th class="align-middle text-center" colspan="9">Transportes</th>
                    </tr>
                    <tr>
                      <th class="align-middle" width="20%">Origen</th>
                      <th class="align-middle">Nombre</th>
                      <th class="align-middle" width="10%">Unidad</th>
                      <th class="align-middle" width="15%">Costo</th>
                      <th class="align-middle" width="5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(items.tr.length> 0) { -%>
                      <%for(var i=0; i < items.tr.length; i++) { -%>
                        <tr id="<%= items.tr[i].ID %>" act_grp="<%= items.tr[i].ID_ACT_GRP %>">
                          <%if(items.tr[i].user.ID !=user.ID) { -%>
                            <td class="align-middle"> Base de datos</td>
                            <% } else { %>
                              <td class="align-middle"> Mis transportes</td>
                              <% } %>
                                <td class="align-middle">
                                  <%= items.tr[i].NAME %>
                                </td>
                                <td class="align-middle">
                                  <%= items.tr[i].MEASSURE_UNIT %>
                                </td>
                                <td class="align-middle curr">
                                  <%= items.tr[i].COST %>
                                </td>
                                <td>
                                  <button class="w-100 btn btn-primary"
                                    onclick="selectItem('<%= items.tr[i].ID %>')">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </button>
                                </td>
                        </tr>
                        <%}%>
                          <%} else{%>
                            <td colspan="9">
                              <h4 class="text-center Normal weight text">No hay resultados</h4>
                            </td>
                            <%}%>
                  </tbody>
                </table>
              </div>
              <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal pick salary -->
    <div class="modal fade bd-example-modal-lg" id="selectSalaryModal" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Selecciona un Salario <span id="salary_type_txt"></span></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times"
                aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <% if(locals.salaries) { -%>
                <table class="table table-bordered table-hover" width="100%" height="100%" cellspacing="0">
                  <thead class="table-secondary">
                    <tr>
                      <th class="align-middle text-center" colspan="8">
                        Salarios
                        <input class="form-control" type="text" id="salary_type" hidden>
                      </th>
                    </tr>
                    <tr>
                      <th class="align-middle" width="10%">Multiplicador</th>
                      <th class="align-middle">Valor hora</th>
                      <th class="align-middle">Valor dia</th>
                      <th class="align-middle" width="5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(salaries.length> 0) { -%>
                      <%for(var i=0; i < salaries.length; i++) { -%>
                        <tr>
                          <td class="align-middle">
                            <%= salaries[i].MULTIPLIER %>
                          </td>
                          <td class="align-middle curr">
                            <%= salaries[i].HOURLY_VALUE %>
                          </td>
                          <td class="align-middle curr">
                            <%= salaries[i].DAILY_VALUE %>
                          </td>
                          <td>
                            <button class="w-100 btn btn-primary"
                              onclick="setSalary('<%= salaries[i].ID %>', '<%= salaries[i].MULTIPLIER %>', '<%= salaries[i].HOURLY_VALUE %>')">
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      <%}%>
                    <%} else{%>
                      <tr>
                        <td colspan="8">
                          <h4 class="text-center Normal weight text">No hay resultados</h4>
                        </td>
                      </tr>
                    <%}%>
                  </tbody>
                </table>
              <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal upd itme-->
    <div class="modal" id="agregarI" tabindex="-2" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Agregar Item</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times"
                aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="small mb-1">Nombre</label>
              <input class="form-control" type="text" placeholder="Nombre">
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label class="small mb-1">G.P</label>
                <div class="form-group">
                  <select class="selectBuscar">
                    <option selected>Seleccionar</option>
                    <option value="A1">GP 1</option>
                    <option value="A2">GP 2</option>
                    <option value="A3">GP 3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label class="small mb-1">G.A</label>
                <div class="form-group">
                  <select class="selectBuscar">
                    <option selected>Seleccionar</option>
                    <option value="A1">GA 1</option>
                    <option value="A2">GA 2</option>
                    <option value="A3">GA 3</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="small mb-1">Descripción</label>
              <input class="form-control " type="text" placeholder="Descripción">
            </div>
            <div class="form-row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="small mb-1">Unidad</label>
                  <input class="form-control " type="text" placeholder="Und">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="small mb-1">Cantidad</label>
                  <input class="form-control " type="text" placeholder="#">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="small mb-1">Precio</label>
                  <input class="form-control " type="text" placeholder="#">
                </div>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" id="agg">Aceptar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>

    <%- include ("../partials/message-modal"); %>
</main>