<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
        <div class="card mb-4">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <div class="col-1 pr-0">
                <a class="btn-sm btn-info" href="/index/budgets">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col p-0">
                <i class="fas fa-table mr-1"></i>
                Resumen
              </div>
          </div>
          </div>
          <% if(locals.error) { %>
            <div id="message">
              <%- include ("../partials/messages"); %>
            </div>
            <% } else { %>
              <input type="number" id="quo_id" value="<%= quote %>" hidden>
              <% for( let i = 0; i < 5; i++ ) { %>
                <input type="number" id="section_<%= i %>_total" value="<%= list[i].total %>" hidden>
              <% } %>
              
              <div class="form-row">
                <div class="col-md-7">
                  <div id="mat" class="card ml-2 mb-2 mt-2 mr-2">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" width="100%" height="100%"
                        cellspacing="0">
                        <thead class="table-secondary">
                          <tr>
                            <th colspan="7">Materiales y equipos</th>
                          </tr>
                          <tr>
                            <th class="align-middle" width="5%"></th>
                            <th class="align-middle">Nombre</th>
                            <th class="align-middle" width="5%">Cant.</th>
                            <th class="align-middle" width="5%">Uni.</th>
                            <th class="align-middle">V.U.</th>
                            <th class="align-middle">V.T.</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <th colspan="5">Subtotal Materiales</th>
                          <th class="align-middle curr">
                            <%= list[0].total %>
                          </th>
                        </tfoot>
                        <tbody>
                          <% if(list[0].items.length> 0) { -%>
                            <% let aux_items=list[0].items %>
                              <% for(var i=0; i < aux_items.length; i++) { -%>
                                <tr id="<%= aux_items[i].ID %>" quo_act="<%= aux_items[i].apu_content.apu.ID_QUO_ACT %>"
                                  quo_chp="<%= aux_items[i].apu_content.apu.quote_activity.ID_QUO_CHP %>"
                                  quo_chp_grp="<%= aux_items[i].apu_content.apu.quote_activity.quote_chapter.ID_CHP_GRP %>">
                                  <td class="align-middle">
                                    <%= i + 1 %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].NAME %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].QUANTITY %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.MEASSURE_UNIT %>
                                  </td>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].item_list.COST %>
                                  </th>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].item_list.TOTAL %>
                                  </th>
                                </tr>
                                <% } -%>
                          <% } else { -%>
                            <tr>
                              <td colspan="6">
                                <h4 class="text-center Normal weight text">No se han añadido materiales</h4>
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="mob" class="card ml-2 mb-2 mt-2 mr-2">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" width="100%" height="100%"
                        cellspacing="0">
                        <thead class="table-secondary">
                          <tr>
                            <th colspan="6">Mano de Obra</th>
                          </tr>
                          <tr>
                            <th class="align-middle" width="5%"></th>
                            <th class="align-middle" colspan="2">Nombre</th>
                            <th class="align-middle" width="5%">Rend.</th>
                            <th class="align-middle" width="5%">Uni.</th>
                            <th class="align-middle">V.T.</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <th colspan="5">Subtotal Mano de Obra</th>
                          <th class="align-middle curr">
                            <%= list[1].total + list[4].total  %>
                          </th>
                        </tfoot>
                        <tbody>
                          <% if(list[1].items.length> 0) { -%>
                            <% let aux_items=list[1].items %>
                              <% for(var i=0; i < aux_items.length; i++) { -%>
                                <tr id="<%= aux_items[i].ID %>" quo_act="<%= aux_items[i].apu_content.apu.ID_QUO_ACT %>"
                                  quo_chp="<%= aux_items[i].apu_content.apu.quote_activity.ID_QUO_CHP %>"
                                  quo_chp_grp="<%= aux_items[i].apu_content.apu.quote_activity.quote_chapter.ID_CHP_GRP %>">
                                  
                                  <td class="align-middle">
                                    <%= i + 1 %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.NAME %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].CUSTOM_DESCRIPTION %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].CUSTOM_PERFORMANCE %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.MEASSURE_UNIT %>
                                  </td>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].TOTAL %>
                                  </th>
                                </tr>
                              <% } -%>
                              <tr>
                                <td></td>
                                <td class="align-middle" colspan="4">
                                  Herramientas menores
                                </td>
                                <th class="align-middle curr">
                                  <%= list[4].total %>
                                </th>
                              </tr>
                          <% } else { -%>
                            <tr>
                              <td colspan="5">
                                <h4 class="text-center Normal weight text">No se han añadido cuadrilas</h4>
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="equ" class="card ml-2 mb-2 mt-2 mr-2">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" width="100%" height="100%"
                        cellspacing="0">
                        <thead class="table-secondary">
                          <tr>
                            <th colspan="7">Maquinaria</th>
                          </tr>
                          <tr>
                            <th class="align-middle" width="5%"></th>
                            <th class="align-middle">Nombre</th>
                            <th class="align-middle" width="5%">Rend.</th>
                            <th class="align-middle" width="5%">Uni.</th>
                            <th class="align-middle" width="5%">Cant.</th>
                            <th class="align-middle">V.U.</th>
                            <th class="align-middle">V.T.</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <th colspan="6">Subtotal Maquinarias</th>
                          <th class="align-middle curr">
                            <%= list[2].total %>
                          </th>
                        </tfoot>
                        <tbody>
                          <% if(list[2].items.length > 0) { -%>
                            <% let aux_items=list[2].items %>
                              <% for(var i=0; i < aux_items.length; i++) { -%>
                                <tr id="<%= aux_items[i].ID %>" quo_act="<%= aux_items[i].apu_content.apu.ID_QUO_ACT %>"
                                  quo_chp="<%= aux_items[i].apu_content.apu.quote_activity.ID_QUO_CHP %>"
                                  quo_chp_grp="<%= aux_items[i].apu_content.apu.quote_activity.quote_chapter.ID_CHP_GRP %>">
                                  
                                  <td class="align-middle">
                                    <%= i + 1 %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.NAME %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.PERFORMANCE %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.MEASSURE_UNIT %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].QUANTITY %>
                                  </td>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].item_list.COST %>
                                  </th>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].TOTAL %>
                                  </th>
                                </tr>
                              <% } -%>
                          <% } else { -%>
                            <tr>
                              <td colspan="6">
                                <h4 class="text-center Normal weight text">No se han añadido maquinarias</h4>
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="tra" class="card ml-2 mb-2 mt-2 mr-2">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" width="100%" height="100%"
                        cellspacing="0">
                        <thead class="table-secondary">
                          <tr>
                            <th colspan="6">Transporte</th>
                          </tr>
                          <tr>
                            <th class="align-middle" width="5%"></th>
                            <th class="align-middle">Nombre</th>
                            <th class="align-middle" width="5%">Cant.</th>
                            <th class="align-middle" width="5%">Uni.</th>
                            <th class="align-middle">V.U.</th>
                            <th class="align-middle">V.T.</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <th colspan="5">Subtotal Transporte</th>
                          <th class="align-middle curr">
                            <%= list[3].total %>
                          </th>
                        </tfoot>
                        <tbody>
                          <% if(list[3].items.length> 0) { -%>
                            <% let aux_items=list[3].items %>
                              <% for(var i=0; i < aux_items.length; i++) { -%>
                                <tr id="<%= aux_items[i].ID %>" quo_act="<%= aux_items[i].apu_content.apu.ID_QUO_ACT %>"
                                  quo_chp="<%= aux_items[i].apu_content.apu.quote_activity.ID_QUO_CHP %>"
                                  quo_chp_grp="<%= aux_items[i].apu_content.apu.quote_activity.quote_chapter.ID_CHP_GRP %>">
                                  <td class="align-middle">
                                    <%= i + 1 %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].NAME %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].QUANTITY %>
                                  </td>
                                  <td class="align-middle">
                                    <%= aux_items[i].item_list.MEASSURE_UNIT %>
                                  </td>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].item_list.COST %>
                                  </th>
                                  <th class="align-middle curr">
                                    <%= aux_items[i].item_list.TOTAL %>
                                  </th>
                                </tr>
                              <% } -%>
                          <% } else { -%>
                            <tr>
                              <td colspan="6">
                                <h4 class="text-center Normal weight text">No se han añadido transportes</h4>
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div id="tra" class="card ml-2 mb-2 mt-2 mr-2">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" width="100%" height="100%"
                        cellspacing="0">
                        <thead class="table-secondary">
                          <tr>
                            <th>Sección</th>
                            <th>Valor Parcial</th>
                          </tr>
                        </thead>
                        <tfoot class="table-secondary">
                          <tr>
                            <th >Total</th>
                            <th class="align-middle curr">
                              <%= list[0].total + list[1].total + list[2].total + list[3].total + list[4].total%>
                            </th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td>Materiales y equipos</td>
                            <th class="align-middle curr">
                              <%= list[0].total %>
                            </th>
                          </tr>
                          <tr>
                            <td>Mano de Obra</td>
                            <th class="align-middle curr">
                              <%= list[1].total + list[4].total%>
                            </th>
                          </tr>
                          <tr>
                            <td>Maquinarias</td>
                            <th class="align-middle curr">
                              <%= list[2].total %>
                            </th>
                          </tr>
                          <tr>
                            <td>Transporte</td>
                            <th class="align-middle curr">
                              <%= list[3].total %>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="grafico"></div>
                </div>
              </div>
              <% } %>
        </div>
      </div>
    </div>
  </div>
</main>