<%- include('structure/header.ejs') %>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <button class="btn btn-link btn-sm order-1 order-lg-0 ml-2" id="sidebarToggle" href="#"><h4><i class="fas fa-bars"></i></h4></button>
            <a class="navbar-brand ml-auto ml-md-12" href="/index">Proyecto Ingenieria Civil</a>
            <!-- Navbar-->
            <button class=" btn btn-dark navbar-brand ml-auto ml-md-12" type="button" onclick="logout()">Finalizar Sesión <i class="fas fa-sign-out-alt"></i></button>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Utilidades</div>
                            <a class="nav-link" href="/index/salary" id="sal">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-bill-wave"></i></div>
                                Salarios
                            </a>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDB" aria-expanded="false" aria-controls="collapseDB">
                                <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                                Bases de datos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDB" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                  <a class="nav-link" href="/index/charac" id="lren">
                                      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                      Caracterizaciones
                                  </a>
                                  <a class="nav-link" href="/index/gangs" id="lcua">
                                      <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                      Cuadrillas
                                  </a>
                                  <a class="nav-link" href="/index/machinary" id="lmaq">
                                      <div class="sb-nav-link-icon"><i class="fas fa-truck-pickup"></i></div>
                                      Maquinarias
                                  </a>
                                  <a class="nav-link" href="/index/mats" id="lmat">
                                      <div class="sb-nav-link-icon"><i class="fas fa-toolbox"></i></div>
                                      Materiales
                                  </a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePresupuesto" aria-expanded="false" aria-controls="collapsePresupuesto">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-check-alt"></i></div>
                                Presupuesto
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePresupuesto" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                  <a class="nav-link" href="/index/budget" id="pre">
                                      <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                      Lista de Presupuestos
                                  </a>
                                  <a class="nav-link" href="/index/shoppinglist" id="lcomp">
                                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                                      Listado de Compras
                                  </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProgramacion" aria-expanded="false" aria-controls="collapseProgramacion">
                                <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                                Programación
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProgramacion" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                  <a class="nav-link" href="/index/gantt" id="dia">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                                      Diagrama de Gantt
                                  </a>
                                  <a class="nav-link" href="/index/workers" id="ltra">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                      Listado de Trabajadores
                                  </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
              <% if(selected == "salary"){ -%>
                  <%- include('default/salary.ejs') %>
              <% }else if(selected == "charac"){ -%>
                  <%- include('default/charac.ejs') %>
              <% }else if(selected == "gangs"){ -%>
                  <%- include('default/gangs.ejs') %>
              <% }else if(selected == "machinary"){ -%>
                  <%- include('default/machinary.ejs') %>
              <% }else if(selected == "machinaryL"){ -%>
                  <%- include('default/machinaryL.ejs') %>
              <% }else if(selected == "mats"){ -%>
                  <%- include('default/mats.ejs') %>
              <% }else if(selected == "matsL"){ -%>
                  <%- include('default/matsL.ejs') %>
              <% }else if(selected == "budget"){ -%>
                  <%- include('default/budget.ejs') %>
              <% }else if(selected == "shoppinglist"){ -%>
                  <%- include('default/shoppinglist.ejs') %>
              <% }else if(selected == "gantt"){ -%>
                  <%- include('default/gantt.ejs') %>
              <% }else if(selected == "workers"){ -%>
                  <%- include('default/workers.ejs') %>
              <% }else if(selected == "apumachinary"){ -%>
                  <%- include('default/apumachinary.ejs') %>
              <% }else if(selected == "apumats"){ -%>
                  <%- include('default/apumats.ejs') %>
              <% }else if(selected == "apuworkers"){ -%>
                  <%- include('default/apuworkers.ejs') %>
              <% }else if(selected == "aputrans"){ -%>
                  <%- include('default/aputrans.ejs') %>
              <% }else{ -%>
                  <%- include('default/normal.ejs') %>
              <% } -%>
            </div>
          </div>
        <%- include('structure/footer.ejs') %>
        <script src="/index.js"></script>
    </body>
</html>
