<%- include('structure/header.ejs') %>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <button class="btn btn-link btn-sm order-lg-0 ml-2" id="sidebarToggle" href="#"><h4><i class="fas fa-bars"></i></h4></button>
            <a class="navbar-brand ml-auto ml-md-12" href="/index">Proyecto Ingenieria Civil</a>
            <!-- Navbar-->
            <a class=" btn btn-dark navbar-brand ml-auto ml-md-12" type="button" href="/user/logout">Finalizar Sesión <i class="fas fa-sign-out-alt"></i></a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Utilidades</div>
                            <a class="nav-link" href="/index/salary" path="/salary/all"  id="sal">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-bill-wave"></i></div>
                                Salarios
                            </a>
                            <a class="nav-link collapsed default" data-toggle="collapse" data-target="#collapseDB" aria-expanded="false" aria-controls="collapseDB">
                                <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                                Bases de datos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDB" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav" parent="default">
                                    <a class="nav-link" href="/index/group" path="/group/all" id="lren">
                                        <div class="sb-nav-link-icon p-1"><i class="fas fa-tachometer-alt"></i></div>
                                        Caracterizaciones
                                    </a>
                                    <a class="nav-link" href="/index/materials" path="/item/materials" id="lmat">
                                        <div class="sb-nav-link-icon p-1"><i class="fas fa-toolbox"></i></div>
                                        Materiales
                                    </a>
                                    <a class="nav-link" href="/index/gangs" path="/item/gangs" id="lcua">
                                        <div class="sb-nav-link-icon p-1"><i class="fas fa-users"></i></div>
                                        Cuadrillas
                                    </a>
                                    <a class="nav-link" href="/index/machineries" path="/item/machineries" id="lmaq">
                                        <div class="sb-nav-link-icon p-1"><i class="fas fa-truck-pickup"></i></div>
                                        Maquinarias
                                    </a>
                                    <a class="nav-link" href="/index/transports" path="/item/transports" id="lmat">
                                        <div class="sb-nav-link-icon p-1"><i class="fas fa-car-side"></i></div>
                                        Transporte
                                    </a>
                                </nav>
                            </div>
                            <% if(user.SUPERUSER){ -%>
                                <a class="nav-link" href="/index/all-items" path="/item/all" id="lmat">
                                    <div class="sb-nav-link-icon"><i class="fas fa-book-medical"></i></div>
                                    Items de usuarios
                                </a>
                            <% } else {-%>
                                <a class="nav-link collapsed default_user" data-toggle="collapse" data-target="#mibd" aria-expanded="false" aria-controls="collapseDB">
                                    <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                                        Mi base de datos
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="mibd" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav" parent="default_user">
                                        <a class="nav-link" href="/index/u_materials" path="/item/user/materials" id="lmat">
                                            <div class="sb-nav-link-icon p-1"><i class="fas fa-toolbox"></i></div>
                                            Materiales
                                        </a>
                                        <a class="nav-link" href="/index/u_gangs" path="/item/user/gangs" id="lcua">
                                            <div class="sb-nav-link-icon p-1"><i class="fas fa-users"></i></div>
                                            Cuadrillas
                                        </a>
                                        <a class="nav-link" href="/index/u_machineries" path="/item/user/machineries" id="lmaq">
                                            <div class="sb-nav-link-icon p-1"><i class="fas fa-truck-pickup"></i></div>
                                            Maquinarias
                                        </a>
                                        <a class="nav-link" href="/index/u_transports" path="/item/user/transports" id="lmat">
                                            <div class="sb-nav-link-icon p-1"><i class="fas fa-car-side"></i></div>
                                            Transporte
                                        </a>
                                    </nav>
                                </div>
                            <% }-%>
                            
                            <% if(!user.SUPERUSER){ -%>
                            <a class="nav-link collapsed budget" data-toggle="collapse" data-target="#collapsePresupuesto" aria-expanded="false" aria-controls="collapsePresupuesto">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-check-alt"></i></div>
                                Presupuesto
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePresupuesto" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav" parent="budget">
                                  <a class="nav-link" href="/index/budgets" path="/budgets" id="pre">
                                      <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                      Mis Presupuestos
                                  </a>
                                  <a class="nav-link" href="/index/shoppinglist" id="lcomp">
                                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                                      Listado de Compras
                                  </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="/schedule" data-toggle="collapse" data-target="#collapseProgramacion" aria-expanded="false" aria-controls="collapseProgramacion">
                                <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                                Programación
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProgramacion" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                  <a class="nav-link" href="/index/gantt" id="dia">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                                      Diagrama de Gantt
                                  </a>
                                  <a class="nav-link" href="/index/workers" id="ltra">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                      Listado de Trabajadores
                                  </a>
                                </nav>
                            </div>
                            <% }-%>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <% if(selected == "salary"){ -%>
                    <%- include('default/salary.ejs') %>

                <% }else if(selected == "char"){ -%>
                    <%- include('default/char.ejs') %>
                
                <% }else if(selected == "item"){ -%>
                    <% if(type == "materials"){ -%>
                        <%- include('default/materials.ejs') %>
    
                    <% }else if(type == "gangs"){ -%>
                        <%- include('default/gangs.ejs') %>
    
                    <% }else if(type == "machineries"){ -%>
                        <%- include('default/machineries.ejs') %>
    
                    <% }else if(type == "transports"){ -%>
                        <%- include('default/transports.ejs') %>
    
                    <% }else if(type == "su_items"){ -%>
                        <%- include('default/items-all.ejs') %>

                    <% }else if(type == "u_materials"){ -%>
                        <%- include('default/materialsUser.ejs') %>
    
                    <% }else if(type == "u_gangs"){ -%>
                        <%- include('default/gangsUser.ejs') %>
    
                    <% }else if(type == "u_machineries"){ -%>
                        <%- include('default/machineriesUser.ejs') %>
    
                    <% }else if(type == "u_transports"){ -%>
                        <%- include('default/transportsUser.ejs') %>
    
                    <% }-%>
                <% }else if(selected == "workers"){ -%>
                    <%- include('quote/workers.ejs') %>

                <% }else if(selected == "budget-all"){ -%>
                    <%- include('quote/budgetAll.ejs') %>

                <% }else if(selected == "budget-one"){ -%>
                    <%- include('quote/budgetOne.ejs') %>

                <% }else if(selected == "apu"){ -%>
                    <%- include('quote/apu.ejs') %>
    
                <% }else if(selected == "shoppinglist"){ -%>
                    <%- include('quote/shoppinglist.ejs') %>
                    
                <% }else if(selected == "gantt"){ -%>
                    <%- include('quote/gantt.ejs') %>

                <% }else{ -%>
                    <%- include('default/normal.ejs') %>
                    
                <% } -%>
            </div>
          </div>
        <%- include('structure/footer.ejs') %>
    </body>
</html>
